// COLOR SCHEMES
$primary-color: hsl(172, 67%, 45%);
$dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$input-focus-color: #26c2ae;
$button-inactive-bg: #0d686d;
$button-inactive-font: #00474b;
$error: #e17457;

$primary-font: "Space Mono", monospace;
