@import "./variables";

@import "./root";
@import "./columnLeft";
@import "./columnRight";
@import "./breakpoints";

@include desktop {
  @import "./body_desktop";
  .splitter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  .splitter-title {
    color: $dark-cyan;
    letter-spacing: 10px;
    font-size: larger;
    text-shadow: 1px 4px 4px $grayish-cyan;
  }

  .splitter-calculator {
    // min-width: 700px;
    max-width: 920px;
    height: auto;

    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    background-color: $white;
    padding: 32px;
    border-radius: 25px;
  }

  .splitter-column {
    flex-basis: 420px;
    // height: 100%;
  }

  .splitter-section:nth-child(2) {
    margin: 20px 0;
  }
}

@include mobile {
  body {
    min-width: map-get($breakpoints, "mobile");
    max-width: #{map-get($breakpoints, "desktop") - 1px};
    height: 100%;

    overflow-y: scroll;

    font-family: $primary-font;
    font-weight: 700;
    font-size: 16px;

    background-color: $light-grayish-cyan;
    margin: 0;
  }

  .splitter-container {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
  }

  .splitter-title {
    font-size: 18px;
    letter-spacing: 0.5rem;
    text-shadow: 1px 4px 4px $grayish-cyan;
  }

  .splitter-calculator {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-sizing: border-box; // this was missing when the calculator was not centered.

    gap: 40px;
    background-color: white;
    padding: 30px 25px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .splitter-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: auto;
  }

  .splitter-section__options {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 45%);
    gap: 1.2rem;
  }

  .euro-sign,
  .result__value {
    font-size: 24px;
  }
}
